body {
    background: black;
    color: mediumslateblue;
}

h1 {
    font-size: 40px;
}

#my__app {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    width: 90vw;
    height: 90vh;
}
#task {
    width: 260px;
    height: 25px;
    border: none;
    background: black;
    color: mediumslateblue;
    border: solid;
}
#submit {
    background: mediumslateblue;
    border: none;
    width: 268px;
    height: 25px;
    border: none;
}

#created__todo {
    color: white;
    font-size: 25px;
}
#created__todo:hover {
    color: darkred;
}